/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap-theme.min
 *= require bootstrap/dist/css/bootstrap.min
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.row-credito{
  background-color: #5cb85c;
}

.row-debito{
  background-color: #d2322d;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px; 
  /* width and height can be anything, as long as they're equal */
}
